#sites {

    display: none;
    /*visibility: hidden;*/
    width: 100%;
    height: 100vh;

    background: wheat;
    position: absolute;
    padding: 0 0 0 0;
    text-align: center;
    /*color: white;*/
    
}